* {
    box-sizing: border-box;
}

table {
    margin: 16px;
    border: 1px solid black;
}

table,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    width: 50px;
    height: 50px;
    text-align: center;
}

tr,
td {
    border: 1px solid black;
}

tr:nth-child(even) td:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) td:nth-child(odd) {
    background-color: white;
}

tr:nth-child(odd) td:nth-child(odd) {
    background-color: black;
}

tr:nth-child(even) td:nth-child(even) {
    background-color: black;
}


/* td:nth-child(1),
td:nth-child(10) {
    background-color: white !important;
    border: none !important;
} */

tr:first-child>td,
tr:last-child>td {
    background-color: white !important;
    border: none !important;
}

tr>td#edge {
    background-color: white !important;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
    border-top: hidden !important;
    border-bottom: hidden !important;
}